/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    padding: 5px 20px;
    border-radius: 50px;
    border: 2px solid black;
}
/* main */
main{
    height: 800px;
    background-color: #7fffd4;
}

#container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#cells{
    flex-basis: calc(100% / 10);
    padding: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer */
footer{
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}